<h1>Log in</h1>

<%= form_with url: session_path do |form| %>
  <fieldset>
    <div>
      <%= form.label :email_address %><br>
      <%= form.email_field :email_address,
                       required: true,
                       autofocus: true,
                       autocomplete: "username",
                       value: params[:email_address] %>
    </div>
    <br>
    <div>
      <%= form.label :password %><br>
      <%= form.password_field :password, required: true, autocomplete: "current-password" %>
    </div>
    <br>
    <div><%= form.submit "Log in" %></div>
  </fieldset>
<% end %>
<br>
<%= link_to "No account yet?", new_signups_path %>
<%= link_to "Forgot password?", new_password_path %>
