<%= render "components/wrapper" do %>
  <%= form_with url: session_url do |form| %>
    <%= form.email_field :email,
                     required: true,
                     autofocus: true,
                     autocomplete: "email",
                     value: params[:email] %>
    <%= form.password_field :password,
                        required: true,
                        autocomplete: "current-password",
                        maxlength: 72 %>

    <%= form.check_box :remember_me %>
    <label for="remember_me">Remember me</label>

    <%= link_to "Forgot password?", new_password_path %>

    <%= form.submit "Sign in" %>
  <% end %>
<% end %>

<p>
  Not a member?
  <%= link_to "Sign up", signup_path %>
</p>
