<%= render "components/wrapper" do %>
  <%= form_with url: uploads_path do |form| %>
    <div class="border h-32 flex items-center justify-center">
      <%= form.file_field :attachments, multiple: true, direct_upload: true %>
      Upload or drag 'n drop
    </div>

    <div>File list</div>

    <%= form.email_field :email,
                     placeholder: "suzanne@blender.org",
                     value: session[:email] %>

    <%= form.submit "Create a Project" %>
  <% end %>

  <%= javascript_include_tag "activestorage" %>
<% end %>
