<% article_link = article_url("realistic-lighting-in-blender") %>

<p>
  Hi <%= @subscriber.greeting_name %>, how much effort do you usually put into
  setting up your lights in Blender?
</p>

<p>
  I usually spend a lot of time on my models, but when it's time to render I
  sometimes rush through the process of setting up some lights.
</p>

<p>
  For the final result of your renders, it can really make a difference if you
  spend a bit more time on setting up your lighting.
</p>

<p>
  In this article, Johnson is sharing some tips on how to do that:
</p>

<p>
  <a href="<%= article_link %>">7 Ways to Achieve Realistic Lighting in Blender</a>
</p>

<figure style="margin: 0 0 1.5em; text-align: center;">
  <a href="<%= article_link %>">
    <img src="https://res.cloudinary.com/blendergrid/image/upload/f_auto,q_auto,w_1200/articles/realistic-lighting-in-blender/ies-lights"
         alt="Realistic IES lighting in a Blender render"
         width="600"
         style="display: block; width: 100%; height: auto; border: 0; border-radius: 4px;">
  </a>
</figure>

<p>
  <a href="<%= article_link %>">blendergrid.com/learn/articles/realistic-lighting-in-blender</a>
</p>

<p>
  I hope you get something out of it to improve your renders!
</p>

<p>
  Take care,<br>
  Richard
</p>

<%= render "footer" %>
