<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 dark:bg-gray-800/75 dark:shadow-none dark:ring-white/10">
  <blockquote class="text-gray-900 dark:text-white">
    <p>“<%= quote %>”</p>
  </blockquote>
  <a href="<%= link %>" target="_blank" class="group">
    <figcaption class="mt-6 flex items-center gap-x-4">
      <img src="<%= headshot %>" alt="<%= name %>" class="size-10 rounded-full bg-gray-50 dark:bg-gray-700" />
      <div class="truncate">
        <div class="font-semibold text-gray-700 group-hover:text-gray-900 dark:text-gray-300 group-hover:dark:text-white">
          <%= name %>
        </div>
        <div class="text-gray-500 group-hover:text-gray-700 dark:text-gray-400 group-hover:dark:text-gray-300 truncate">
          <%= company %>
        </div>
      </div>
    </figcaption>
  </a>
</figure>
