<%= tag.div id: dom_id(render) do %>
  <div>
  <%= "Render Status: #{render.status}" %>
  </div>

  <div>
    <%= "Render Progress: #{number_to_percentage(
      render.workflow.progress_permil&.fdiv(10), precision: 1
    )}" %>
  </div>

  <div>
    <%= "ETA: #{time_ago_in_words(render.workflow.eta || 1.hour.from_now)}" %>
  </div>

  <%= button_to "Cancel",
    project_render_path(render.project, render),
    method: :delete if render.workflow.started? %>
<% end %>
