<%= form_with model: signup, class: "space-y-6 max-w-sm mx-auto" do |form| %>
  <div>
    <%= form.label :name, class: "block text-sm/6 font-medium text-gray-900 dark:text-gray-100" %>
    <div class="mt-2">
      <%= form.text_field :name,
         required: true,
         autofocus: true,
         autocomplete: "first_name",
         class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" %>
    </div>
  </div>

  <div>
    <%= form.label :email_address, class: "block text-sm/6 font-medium text-gray-900 dark:text-gray-100" %>
    <div class="mt-2">
      <%= form.email_field :email_address,
                       required: true,
                       autocomplete: "email",
                       class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" %>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <%= form.label :password, class: "block text-sm/6 font-medium text-gray-900 dark:text-gray-100" %>
    </div>
    <div class="mt-2">
      <%= form.password_field :password, required: true, autocomplete: "current-password", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500"  %>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <%= form.label :password_confirmation, "Confirm password", class: "block text-sm/6 font-medium text-gray-900 dark:text-gray-100" %>
    </div>
    <div class="mt-2">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500"  %>
    </div>
  </div>

  <div class="flex gap-3">
    <div class="flex h-6 shrink-0 items-center">

      <div class="group grid size-4 grid-cols-1">
        <%= form.checkbox :terms, class: "col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-primary-600 checked:bg-primary-600 indeterminate:border-primary-600 indeterminate:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 dark:border-white/10 dark:bg-white/5 dark:checked:border-primary-500 dark:checked:bg-primary-500 dark:indeterminate:border-primary-500 dark:indeterminate:bg-primary-500 dark:focus-visible:outline-primary-500 forced-colors:appearance-auto" %>
        <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25 dark:group-has-disabled:stroke-white/25">
          <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100" />
        </svg>
      </div>

    </div>
    <%= form.label :terms, class: "block text-sm/6 text-gray-900 dark:text-white" do %>
      I agree to the <a href="/policies/terms" data-turbo-frame="_top" tabindex="-1" class="font-semibold text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300">Terms of Service</a> and <a href="/policies/privacy" data-turbo-frame="_top" tabindex="-1" class="font-semibold text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300">Privacy Policy</a>
    <% end %>
  </div>

  <%= form.hidden_field :gift, value: true if form.object.gift %>
  <%= form.hidden_field :referral_code if form.object.referral_code.present? %>

  <%= render "shared/form_errors", form: form %>

  <div>
    <%= form.submit form.object.gift ? "Sign up & get $20" : "Sign up", class: "flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-500 dark:shadow-none dark:hover:bg-primary-400 dark:focus-visible:outline-primary-500" %>
  </div>
<% end %>
