<h1>Sign up</h1>

<% if @signup.errors.any? %>
  <div style="color:red">
    <% @signup.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model: @signup do |form| %>
  <div>
    <%= form.label :email_address %><br>
    <%= form.email_field :email_address, required: true, autofocus: true %>
  </div><br>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div><br>

  <div>
    <%= form.label :password_confirmation, "Confirm password" %><br>
    <%= form.password_field :password_confirmation %>
  </div><br>

  <div>
    <%= form.submit "Sign up" %>
  </div><br>
<% end %>

<%= link_to "Already signed up?", new_session_path %>
