<h1>Sign up</h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= if @user.errors.any?
  tag.div(@user.errors.full_messages.to_sentence, style: "color:red")
end %>

<%= form_with model: @user do |form| %>
  <%= form.label :email_address %>
  <%= form.email_field :email_address, required: true, autofocus: true %>
  <br>

  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation, "Confirm password" %>
  <%= form.password_field :password_confirmation %>
  <br>

  <%= form.submit "Sign up" %>
<% end %>
