<div class="mx-auto md:w-2/3 w-full">
  <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <%= render "components/logo", class_str: "mx-auto h-10 w-auto fill-blue-600" %>
      <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900">create a new account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">

        <%= form_with model: @user, url: registrations_url, class: "space-y-6" do |form| %>
          <div>
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
            <div class="mt-2">
              <%= form.email_field :email_address,
                               required: true,
                               autofocus: true,
                               autocomplete: "email",
                               value: params[:email_address],
                               class:
                                 "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" %>
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Choose your password</label>
            <div class="mt-2">
              <%= form.password_field :password,
                                  required: true,
                                  maxlength: 72,
                                  class:
                                    "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" %>
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Password again to be sure</label>
            <div class="mt-2">
              <%= form.password_field :password_confirmation,
                                  required: true,
                                  maxlength: 72,
                                  class:
                                    "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" %>
            </div>
          </div>

          <div>
            <%= form.submit "Create account",
                        class:
                          "flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 cursor-pointer" %>
          </div>
        <% end %>
      </div>

      <p class="mt-10 text-center text-sm/6 text-gray-500">
        Already have an account?
        <%= link_to "Sign in",
        new_session_path,
        class: "font-semibold text-blue-600 hover:text-blue-500" %>
      </p>
    </div>
  </div>
