<% projects_by_status.each do |state, projects| %>
  <header>
    <h2><%= state_title(state) %></h2>
    <span class="count"><%= projects.size %>
      <%= "#{state} project".pluralize(projects.size) %></span>
  </header>

  <div class="projects">
    <% if state == :checked %>
      <%= debug new_quote %>
      <%# QUOTES FORM - TODO: Move to quotes/_form %>
      <%= form_with model: new_quote do |form| %>
        <%= render "shared/form_errors", form: form %>

        <% projects.each do |project| %>
          <%= render project %>

          <%= form.fields_for :project_settings, project.settings,
            index: project.uuid do |fields| %>
            <%= fields.collection_radio_buttons :frame_range_type,
                                            FrameRangeType.all,
                                            :id,
                                            :name %>
          <% end %>

        <% end %>
        <br>
        <div>
          <%= form.submit %>
        </div>
      <% end %>

    <% elsif state == :benchmarked %>
      <%# ORDERS FORM - TODO: Move to orders/_form %>
      <%= form_with model: new_order, data: { turbo: false } do |form| %>
        <%= render "shared/form_errors", form: form %>

        <% projects.each do |project| %>
          <%= render project %>

          <%= form.fields_for :project_settings, project.settings,
            index: project.uuid do |fields| %>
            <%= fields.number_field :cycles_samples, value: project.settings.spp %>
          <% end %>
        <% end %>

        <br>
        <div>
          <%= form.submit %>
        </div>
      <% end %>

    <% else %>
      <%= render "projects/simple_list", projects: projects %>
    <% end %>
  </div>
<% end %>
