<tr id="<%= dom_id(project) %>">
  <% Rails.logger.info "Project: #{project.id} #{project.name}" %>
  <td class="relative py-5 pr-6">
    <div class="flex gap-x-6">
      <%= status_icon project, class: "hidden h-6 w-5 flex-none text-gray-400 sm:block" %>

      <div class="flex-auto">
        <div class="flex items-start gap-x-3">
          <div class="font-base text-gray-900">
            <%= middle_truncate(project.name, 64) %>
          </div>
          <%= status_badge project %>
        </div>
        <div class="mt-1 text-xs/5 text-gray-500">
          Created
          <%= time_ago_in_words(project.created_at) %>
        </div>
      </div>
    </div>
    <div class="absolute right-full bottom-0 h-px w-screen bg-gray-100"></div>
    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
  </td>

  <td class="hidden py-5 pr-6 sm:table-cell">
    <div class="text-gray-900"><%= project.frame_range_type %></div>
    <div class="mt-1 text-xs/5 text-gray-500"><%= project.frame_range_str %></div>
  </td>

  <td class="hidden py-5 pr-6 sm:table-cell">
    <div class="text-gray-900"><%= project.resolution_str %></div>
    <div class="mt-1 text-xs/5 text-gray-500">
      <%= project.samples_str %>
    </div>
  </td>

  <td class="py-5 text-right">
    <div class="flex justify-end">
      <%= link_to project, class: "font-base text-blue-600 hover:text-blue-500 flex gap-2" do %>
        <%= icon "adjustments-horizontal", class: "h-6 w-5" %>
        <span class="hidden sm:inline">Settings</span>
      <% end %>
    </div>
    <div class="mt-1 text-xs/5 text-gray-500 collapse">
      Invoice
      <span class="text-gray-900">#00012</span>
    </div>
  </td>
</tr>
