<% if @projects_by_stage.empty? %>

  <div class="flex flex-col items-center justify-center min-h-4/5 py-6">
    <div class="text-center">
      <svg
        class="mx-auto size-12 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          vector-effect="non-scaling-stroke"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
        />
      </svg>
      <h3 class="mt-2 font-semibold text-gray-900">No projects</h3>
      <p class="mt-1 text-gray-500">Get started by creating a new project.</p>
      <div class="mt-6">
        <%= link_to root_path, class:"inline-flex items-center rounded-lg bg-blue-600 px-4 py-2.5 font-semibold text-white shadow-md hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 cursor-pointer transition" do %>
          <svg
            class="mr-1.5 -ml-0.5 size-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
            />
          </svg>
          New Project
        <% end %>
      </div>
    </div>
  </div>

<% else %>

  <% Project::STAGES.each do |stage| %>
    <% projects = @projects_by_stage.fetch(stage, [])
      next if projects.empty? %>

      <% @projects_by_stage[stage]&.map(&:project_source)&.uniq&.each do |ps| %>
        <%= turbo_stream_from [ps, stage, :projects] %>
      <% end %>

      <%= form_with url: price_calculations_path,
    data: {controller: "#{stage}-projects"} do |form| %>

        <div class="max-w-7xl mx-auto my-8 sm:px-6 lg:px-8">
          <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
              <%= stage %>
              projects
            </h2>
          </div>

          <ul
            id="stage_<?= project.stage %>"
            role="list"
            class="
              divide-y divide-gray-100 overflow-hidden bg-white ring-1 ring-gray-900/5
              sm:rounded-xl shadow-md mt-6
            "
          >
            <%= render projects %>
          </ul>
        </div>

        <% if stage == :uploaded %>
          <div class="max-w-7xl mx-auto my-8 sm:px-6 lg:px-8">
            <%= form.submit "Calculate Price",
                        data: {
                          "#{stage}-projects-target": "button",
                        },
                        class:
                          "flex justify-center rounded-md bg-green-600 ml-auto px-4 py-2 font-semibold text-white shadow-md hover:bg-green-500 disabled:bg-green-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60" %>
          </div>
        <% elsif stage == :waiting %>
          <div class="max-w-7xl mx-auto my-8 sm:px-6 lg:px-8">
            <%= form.submit "Render (Coming Soon!)",
                        data: {
                          "#{stage}-projects-target": "button",
                        },
                        disabled: true,
                        class:
                          "flex justify-center rounded-md bg-amber-600 ml-auto px-4 py-2 font-semibold text-white shadow-md hover:bg-amber-500 disabled:bg-amber-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60" %>
          </div>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
