<h1><%= @project.main_blend_file %></h1>

<%= render @project %>

<% if @project.render&.workflow.blank? %>
  <%= button_to "Start Render", project_render_path(@project), method: :post %>
<% else %>
  <%= render @project.render %>
<% end %>

<% if @project.price_calculation&.workflow.blank? %>
  <%= button_to "Calculate price",
  project_price_calculation_path(@project),
  method: :post %>
<% else %>
  <%= render @project.price_calculation %>
<% end %>

<%= render @project.integrity_check %>
