<%= javascript_include_tag "activestorage" %>

<%= form_with model: upload, id: "upload-form", data: {
    controller: "dragdrop upload",
    dragdrop_upload_outlet: "#upload-form",
    action: %w[
      direct-upload:start->upload#uploadsStart
      direct-upload:initialize->upload#uploadInit
      direct-upload:progress->upload#uploadProgress
      direct-upload:error->upload#uploadError
      direct-upload:end->upload#uploadEnd
    ].join(" ")
  },
  class: "max-w-xs mx-auto" do |form| %>

  <%= form.hidden_field :uuid, value: upload.uuid %>

  <fieldset class="border border-gray-300 dark:border-white/10 p-4 rounded-md space-y-4">

    <div
      class="input_group flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10 dark:border-white/25"
      data-action="dragover->dragdrop#dragOver dragleave->dragdrop#dragLeave drop->dragdrop#drop">
      <div class="text-center">
        <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="mx-auto size-12 text-gray-300 dark:text-gray-600">
          <path d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" fill-rule="evenodd" />
        </svg>
        <div class="mt-4 flex text-sm/6 text-gray-600 dark:text-gray-400">
          <%= form.label :files, class: "relative cursor-pointer rounded-md bg-transparent font-semibold text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300" do %>
            <span>Upload a file</span>
            <%= form.file_field :files,
                            multiple: true,
                            direct_upload: true,
                            class: "sr-only",
                            data: {
                              dragdrop_target: "input",
                              upload_target: "input",
                              action: "upload#showFiles",
                              key_prefix: "uploads/#{upload.uuid}",
                              keep_filename: true,
                              use_multipart: true,
                            } %>
          <% end %>
          <p class="pl-1">or drag and drop</p>
        </div>
        <p class="text-xs/5 text-gray-600 dark:text-gray-400">.blend or .zip up to 100GB</p>
      </div>
    </div>

    <div data-upload-target="list"></div>

    <% unless authenticated? %>
      <div class="input_group rounded-md bg-white px-3 pt-2.5 pb-1.5 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 dark:bg-white/5 dark:outline-white/10 dark:focus-within:outline-indigo-500">
        <%= form.label :guest_email_address, "Email address #{form.object.errors[:guest_email_address].first}", class: "block text-xs font-medium text-gray-900 dark:text-gray-200" %>
        <%= form.email_field :guest_email_address, autocomplete: "username", value: params[:guest_email_address] || session[:guest_email_address], placeholder: "suzanne@blender.org", class: "block w-full text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 dark:bg-transparent dark:text-white dark:placeholder:text-gray-500" %>
      </div>
    <% end %>

    <div class="flex items-center justify-end gap-x-6">
      <%= form.submit class: "rounded-md cursor-pointer bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:shadow-none dark:focus-visible:outline-indigo-500" %>
    </div>

    <div data-upload-target="summary"></div>
  </fieldset>
<% end %>
