<%= javascript_include_tag "activestorage" %>
<%= form_with model: upload, data: {
    controller: "direct-uploads",
    action: %w[
      direct-uploads:start->direct-uploads#uploadsStart
      direct-upload:initialize->direct-uploads#uploadInit
      direct-upload:progress->direct-uploads#uploadProgress
      direct-upload:error->direct-uploads#uploadError
      direct-upload:end->direct-uploads#uploadEnd
    ].join(" ") } do |form| %>

  <%= render "shared/form_errors", form: form %>

  <%= form.hidden_field :uuid, value: upload.uuid %>

  <fieldset>
    <%= form.file_field :files,
                    multiple: true,
                    direct_upload: true,
                    data: {
                      key_prefix: "uploads/#{upload.uuid}",
                      keep_filename: true,
                      use_multipart: true,
                    } %>
    <div data-direct-uploads-target="list"></div>
    <div data-direct-uploads-target="summary"></div>
    <br>
    <% unless authenticated? %>
      <div>
        <%= form.label :guest_email_address, "Email address" %><br>
        <%= form.email_field :guest_email_address,
                         autocomplete: "username",
                         value:
                           params[:guest_email_address] || session[:guest_email_address] %>
      </div>
      <br>
    <% end %>
    <div>
      <%= form.submit %>
    </div>
  </fieldset>
<% end %>
