<% full = local_assigns.fetch(:full, false) %>

<% title = "Upload - #{upload.created_at.to_fs(:short)}" %>

<% if full %>
  <h1><%= title %></h1>

  <%= form_with url: upload_project_batches_path(upload), method: :post do |form| %>

    <h3><%= "Found #{pluralize(upload.blend_files.count, ".blend file")}" %></h3>
    <% upload.blend_files.each.map(&:blob).map(&:filename).each do |filepath| %>
      <%= form.check_box :blend_filepaths, { multiple: true }, filepath, nil %>
      <%= form.label :blend_filepaths, filepath, value: filepath %>
      <br>
    <% end %>

    <h3><%= "Found #{pluralize(upload.zip_files.count, ".zip file")}" %></h3>
    <% upload.zip_files.each.map(&:blob).each do |blob| %>
      <h4><%= blob.filename %></h4>
      <% blob.metadata[:blend_filepaths]&.each do |filepath| %>
        <%= form.check_box :blend_filepaths, { multiple: true }, filepath, nil %>
        <%= form.label :blend_filepaths, filepath, value: filepath %>
        <br>
      <% end %>
    <% end %>

    <div>
      <%= form.submit "Create Projects" %>
    </div>
  <% end %>

  <% if upload.projects.any? %>
    <br><hr>

    <h2>Created Projects</h2>

    <%= render upload.projects.select { |project| !project.benchmarked? } %>

    <% benchmarked_projects = upload.projects.select { |project| project.benchmarked? } %>
    <% if benchmarked_projects.any? %>
      <hr>

      <h3>Ready to render</h3>
      <p>
        <%= "#{pluralize(benchmarked_projects.count, "project")} ready to render" %>
      </p>

      <%= form_with model: @order, data: { turbo: false } do |form| %>
        <% benchmarked_projects.each do |project| %>
          <%= render project %>
          <%= form.fields_for :project_settings, index: project.uuid do |pf| %>
            <%= pf.number_field :cycles_samples, value: project.settings.spp %>
          <% end %>
        <% end %>
        <br>
        <div>
          <%= form.submit %>
        </div>
      <% end %>

    <% end %>

  <% end %>
<% else %>
  <h2><%= link_to(title, upload) %></h2>
<% end %>
