<% full = local_assigns.fetch(:full, false) %>

<% title = "upload from #{time_ago_in_words(upload.created_at)} ago" %>

<% if full %>
  <h1><%= title %></h1>

  <%= form_with model: [@upload, @project_intake] do |form| %>
    <%= render "shared/form_errors", form: form %>

    <h3><%= "Found #{pluralize(upload.blend_files.count, ".blend file")}" %></h3>
    <% upload.blend_files.each.map(&:blob).map(&:filename).each do |filepath| %>
      <%= form.check_box :blend_files, { multiple: true }, filepath, nil %>
      <%= form.label :blend_files, filepath, value: filepath %>
      <br>
    <% end %>

    <h3><%= "Found #{pluralize(upload.zip_files.count, ".zip file")}" %></h3>
    <% upload.zip_files.each.map(&:blob).each do |blob| %>
      <h4><%= blob.filename %></h4>
      <% blob.metadata[:blend_files]&.each do |filepath| %>
        <%= form.check_box :blend_files, { multiple: true }, filepath, nil %>
        <%= form.label :blend_files, filepath, value: filepath %>
        <br>
      <% end %>
    <% end %>

    <div>
      <%= form.submit "Create Projects" %>
    </div>
  <% end %>

  <% if upload.projects.created.any? %>
    <br><hr>
    <h2>Created Projects</h2>
    <%= render upload.projects.created %>
  <% end %>

  <% if upload.projects.checked.any? %>
    <br><hr>
    <h2>Checked Projects</h2>
    <%= render upload.projects.checked %>
    <%= form_with model: @quote do |form| %>
      <% upload.projects.checked.each do |project| %>
        <%= render project %>
        <%= form.fields_for :project_settings, index: project.uuid do |pf| %>
          <%= pf.number_field :cycles_samples, value: project.settings.spp %>
        <% end %>
      <% end %>
      <br>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  <% end %>

  <% if upload.projects.benchmarked.any? %>
    <br><hr>
    <h3>Benchmarked Projects</h3>
    <%= form_with model: @order, data: { turbo: false } do |form| %>
      <% upload.projects.benchmarked.each do |project| %>
        <%= render project %>
        <%= form.fields_for :project_settings, index: project.uuid do |pf| %>
          <%= pf.number_field :cycles_samples, value: project.settings.spp %>
        <% end %>
      <% end %>
      <br>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <h2><%= link_to(title, upload) %></h2>
<% end %>
