<%= javascript_include_tag "activestorage" %>

<h1>Upload a .blend file</h1>

<% if @upload.errors.any? %>
  <div class="error-explanation">
    <% @upload.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model: @upload do |form| %>
  <%= form.hidden_field :uuid, value: @upload.uuid %>
  <fieldset>
    <div data-controller="direct-uploads">
      <%= form.file_field :files,
                      multiple: true,
                      direct_upload: true,
                      data: {
                        key_prefix: "uploads/#{@upload.uuid}",
                        keep_filename: true,
                        use_multipart: true,
                      } %>
      <div data-direct-uploads-target="list"></div>
    </div>
    <br>
    <% unless authenticated? %>
      <div>
        <%= form.label :guest_email_address, "Email address" %><br>
        <%= form.email_field :guest_email_address,
                         autocomplete: "username",
                         value:
                           params[:guest_email_address] || session[:guest_email_address] %>
      </div>
      <br>
    <% end %>
    <div>
      <%= form.submit %>
    </div>
  </fieldset>
<% end %>
