<%
    nav_links = [
        {
          title: "Start",
          path: root_path,
          current_page: (current_page?(root_path) || controller_name == "uploads" ||
            controller_name == "project_intakes")
        },
        {title: "Projects", path: projects_path, current_page: controller_name == "projects"},
        {title: "Pricing", path: "/pricing"},
    ]

    default_link_class = "items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:text-gray-400 dark:hover:border-white/20 dark:hover:text-gray-200"
    current_link_class = "items-center border-b-2 border-primary-600 px-1 pt-1 text-sm font-medium text-gray-900 dark:border-primary-500 dark:text-white"
    default_mobile_link_class = "block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 dark:text-gray-400 dark:hover:border-white/20 dark:hover:bg-white/5 dark:hover:text-gray-200"
    current_mobile_link_class = "block border-l-4 border-primary-600 bg-primary-50 py-2 pr-4 pl-3 text-base font-medium text-primary-700 dark:border-primary-500 dark:bg-primary-600/10 dark:text-primary-300"
%>

<nav class="border-b border-gray-200 bg-white dark:border-white/10 dark:bg-gray-800/50">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 space-between">

      <!-- LOGO -->
      <div class="flex shrink-0 grow-1 items-center">
        <%= link_to root_path do %>
          <%= render "shared/logo", classes: "h-8 w-auto" %>
        <% end %>
      </div>

      <!-- NAV LINKS -->
      <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
        <% nav_links.each do |link| %>
          <%= link_to link[:title], link[:path], class: (link.fetch(:current_page, current_page?(link[:path])) ? current_link_class : default_link_class) + link.fetch(:display_class, " inline-flex") %>
        <% end %>
      </div>

      <!-- LOGIN/LOGOUT -->
      <div class="sm:ml-6 sm:items-center hidden md:flex shrink-0 grow-1 justify-end">
        <span class="pt-1 text-sm hidden lg:inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="1.5" class="size-5 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          <span class="px-1">
            <%= Current.user&.name %>
          </span>
        </span>
        <%= button_to session_path,
          method: :delete,
          class:  "inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200" do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="1.5" class="size-5 stroke-current lg:hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg><span class="ml-2">Log out</span>
        <% end %>
      </div>

      <!-- MOBILE MENU BUTTON -->
      <div class="-mr-2 flex items-center sm:hidden">
        <label for="navbar-trigger" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-2 focus:outline-offset-2 focus:outline-primary-600 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-white dark:focus:outline-primary-500">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </label>
      </div>
    </div>
  </div>

  <!-- MOBILE MENU -->
  <input id="navbar-trigger" type="checkbox" class="hidden peer/hamburger" />
  <div id="mobile-menu" class="hidden peer-checked/hamburger:block md:peer-checked/hamburger:hidden">
    <div class="space-y-1 pt-2 pb-3">
      <% nav_links.each do |link| %>
        <%= link_to link[:title], link[:path], class: (current_page?(link[:path]) ? current_mobile_link_class : default_mobile_link_class) %>
      <% end %>
    </div>
    <div class="border-t border-gray-200 pt-4 pb-3 dark:border-gray-700">
      <div class="flex items-center px-4 justify-between">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="1.5" class="size-6 stroke-current">
            <path stroke-linecap="round"
            stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          <span class="px-1">
            <%= Current.user&.name %>
          </span>
        </div>
        <%= button_to "Log out", session_path,
            method: :delete,
            class:  "inline-flex items-center font-medium text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200" %>
      </div>
    </div>
  </div>
</nav>
