<!DOCTYPE html>
<html class="bg-gray-50 dark:bg-gray-900 scheme-light dark:scheme-dark">
  <head>
    <title><%= content_for(:title) || "Blendergrid Render Farm" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="color-scheme" content="light dark">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png?v=2" type="image/png">
    <link rel="icon" href="/icon.svg?v=2" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "layouts/helpscout" %>
  </head>

  <body>
    <%= render "layouts/navigation" %>

    <%#= tag.strong(flash[:alert], style: "color:red") if flash[:alert] %>
    <%#= tag.strong(flash[:notice], style: "color:green") if flash[:notice] %>

    <main class="mx-auto max-w-7xl p-4 sm:p-6 lg:p-8 min-h-[calc(100vh-18.5rem-2px)]">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>

    <%= render "layouts/notifications" %>
  </body>
</html>
