<h1 class="text-2xl font-semibold text-gray-900 dark:text-white mt-8">Account</h1>

<div class="space-y-12 mt-12">

  <!-- TODO: Personal Information section -->
  <%= form_with model: @user do |form| %>
    <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 dark:border-white/10">
      <div>
        <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">Personal Information</h2>
        <p class="mt-1 text-sm/6 text-gray-600 dark:text-gray-400">How we communicate with you.</p>
      </div>

      <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">

        <div class="sm:col-span-4">
          <%= form.label :name, "Name #{form.object.errors[:name].first}", class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
          <div class="mt-2">
            <%= form.text_field :name, autocomplete: "given-name", class: "block w-full rounded-md px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" %>
          </div>
        </div>

        <div class="sm:col-span-4">
          <%= form.label :email_address, "Email address #{form.object.errors[:email_address].first}", class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
          <div class="mt-2">
            <%= form.email_field :email_address, autocomplete: "email", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" %>
          </div>
        </div>

        <div class="sm:col-span-4">
          <div class="mt-2 flex items-center justify-end">
            <%= form.submit "Save", class: "rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-500 dark:shadow-none dark:focus-visible:outline-primary-500" %>
          </div>
        </div>

      </div>

    </div>
  <% end %>

  <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 dark:border-white/10">
    <div>
      <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">Render credit</h2>
      <p class="mt-1 text-sm/6 text-gray-600 dark:text-gray-400">You can buy render credit and use it to render your projects.</p>
    </div>

    <%= form_with model: PaymentIntent.new, data: { turbo: false } do |form| %>

      <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">

        <div class="sm:col-span-full">
          <p class="text-sm/6 font-semibold text-gray-900 dark:text-white">
            Balance: <%= number_to_currency Current.user&.render_credit_cents&.fdiv(100) %>
          </p>
        </div>

        <div class="sm:col-span-2 md:col-span-4 lg:col-span-3">

          <%= form.label :amount, "Add render credit", class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
          <div class="mt-2">
            <div class="flex items-center rounded-md bg-white px-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary-600 dark:bg-white/5 dark:outline-white/10 dark:focus-within:outline-primary-500">
              <div class="shrink-0 text-base text-gray-500 select-none sm:text-sm/6 dark:text-gray-400">$</div>
              <%= form.number_field :amount, min: 10, value: 20, step: 1, class: "block min-w-0 grow bg-white py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 dark:bg-transparent dark:text-white dark:placeholder:text-gray-500" %>
              <div id="price-currency" class="shrink-0 text-base text-gray-500 select-none sm:text-sm/6 dark:text-gray-400">USD</div>
            </div>
          </div>
        </div>

        <div class="sm:col-span-2 self-end justify-self-end sm:justify-self-stretch">
          <%= form.hidden_field :reason, value: "credit_topup" %>
          <%= form.submit "Buy credit", class: "min-w-20 rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-500 dark:shadow-none dark:focus-visible:outline-primary-500" %>
        </div>
      </div>

    <% end %>
  </div>

  <!-- TODO: Delete account section -->

</div>
